---
// Components Astro
import VideoIntro from "./VideoIntro.astro";
---

<article class="relative w-full h-dvh">
  <div class="absolute top-0 left-0 z-10 w-full bg-black cursor-default h-dvh">
    <h2
      class="text-white absolute top-[50%] left-[50%] -translate-x-[50%] -translate-y-[50%] text-center text-8xl font-black z-20"
    >
      SABATA
    </h2>
  </div>

  <!-- <VideoIntro /> -->

  <div
    class="text-xs w-full text-white absolute top-[85%] z-20 text-center left-[50%] -translate-x-[50%] -translate-y-[50%]"
  >
    <p class="relative block">
      *LAS OFERTAS TIENEN TIEMPO LIMITADO O HASTA GASTAR STOCK. NO SE PUEDE
      CANCELAR.
    </p>
    <p
      class="cursor-pointer border-b hover:border-b-2 border-[#fff] relative inline-block"
    >
      MÁS INFORMACIÓN SOBRE NUESTRAS OFERTAS
    </p>
  </div>
</article>
