---
import { Button } from "@/components/ui/button";
---

<h4 class="text-2xl font-bold">¡Bienvenidos!</h4>
<h2 class="-mt-1 text-3xl font-extrabold">Tienda de online</h2>
<h1 class="-mt-2 text-4xl font-black">SABATA</h1>
<p class="-mt-1">
  Calidad, estilo y variedad.<br /> La moda que se adapta a todos los estilos y personalidades
</p>
<Button className="mt-5">¡Comprar Ahora!</Button> 
