---
// Optimized Background
import { BackgroundImgComponent } from "@/components/custom/Image/BackgroundImgComponent";
// Styles
import "./Collection.module.css";
---

<BackgroundImgComponent
  className="h-full"
  src="https://firebasestorage.googleapis.com/v0/b/sabata-auth.appspot.com/o/bg-Collection.webp?alt=media&token=110c3098-c9b5-4242-88ff-4fea1e747908"
>
  <div
    class="w-full absolute top-[9%] left-[25%] -translate-x-[50%] -translate-y-[50%]"
  >
    <div
      class="relative flex flex-col items-center justify-center text-center text-black"
    >
      <h2 class="z-50 pb-6 mt-20 text-5xl font-black text">
        ¡Llegaron las ofertas de<br /> verano!
      </h2>
      <div class="z-50 mt-8">
        <p class="text-base">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur, <br
          /> Lorem ipsum dolor sit amet.
        </p>
      </div>
    </div>
  </div>

  <div
    class="z-20 absolute top-[3%] -right-[6%] translate-y-[50%] text-black -translate-x-[50%]"
  >
    <p class="font-medium text-center">WWW.SABATA</p>
    <p class="text-4xl font-black -tracking-[3px]">E-COMMERCE</p>
  </div>

  <div
    class="flex items-center pl-10 justify-between w-full z-20 -translate-x-[0%] absolute -translate-y-[50%] top-[45%] left-[0%]"
  >
    <div class="flex flex-col gap-4 text-center">
      <h3 class="text-xl font-semibold text-black">
        Colección de moda femenina
      </h3>
      <ul class="flex flex-col gap-4">
        <li>
          <a
            class="list_hover"
            href="#"
            data-astro-prefetch="tap"
            title=""
            aria-label="">Explora vestidos elegantes y versátiles</a
          >
        </li>
        <li>
          <a
            class="list_hover"
            href="#"
            data-astro-prefetch="tap"
            title=""
            aria-label="">Descubre las últimas tendencias</a
          >
        </li>
        <li>
          <a
            class="list_hover"
            href="#"
            data-astro-prefetch="tap"
            title=""
            aria-label="">Encuentra tu ajuste perfecto</a
          >
        </li>
        <li>
          <a
            class="list_hover"
            href="#"
            data-astro-prefetch="tap"
            title=""
            aria-label="">Completa tu look con nuestros accesorios</a
          >
        </li>
        <li>
          <a
            class="list_hover"
            href="#"
            data-astro-prefetch="tap"
            title=""
            aria-label=""
          >
            ¡Compra ahora!</a
          >
        </li>
      </ul>
    </div>

    <div class="flex flex-col gap-4 text-center">
      <h3 class="text-xl font-semibold text-black">Descubre quiénes somos</h3>
      <ul class="flex flex-col gap-4">
        <li>
          <a
            class="list_hover"
            href="#"
            data-astro-prefetch="tap"
            title=""
            aria-label="">Nuestra historia: Cómo empezó...</a
          >
        </li>
        <li>
          <a
            class="list_hover"
            href="#"
            data-astro-prefetch="tap"
            title=""
            aria-label="">Nuestro equipo: Conoce a las personas...</a
          >
        </li>
        <li>
          <a
            class="list_hover"
            href="#"
            data-astro-prefetch="tap"
            title=""
            aria-label="">Nuestra misión: Descubre nuestra visión...</a
          >
        </li>
        <li>
          <a
            class="list_hover"
            href="#"
            data-astro-prefetch="tap"
            title=""
            aria-label="">Nuestra comunidad: Una comunidad femenina</a
          >
        </li>
        <li>
          <a
            class="list_hover"
            href="#"
            data-astro-prefetch="tap"
            title=""
            aria-label="">Contáctanos: ¿Tienes alguna o comentario?</a
          >
        </li>
      </ul>
    </div>
  </div>
</BackgroundImgComponent>

<style>
  .list_hover {
    position: relative;
    display: inline-block;
    cursor: pointer;
  }
  .list_hover::after {
    content: "";
    width: 80%;
    height: 1px;
    transform: translateX(-50%);
    background: #616161;
    position: absolute;
    bottom: 0;
    left: 50%;
    transition: all 0.2s ease-in-out;
  }
  .list_hover:hover::after {
    height: 2px;
    width: 100%;
    background: #000;
  }
</style>
