.img_bg_header_06 {
  /*background-image: url("../../../../../build/images/App/bg_footer.webp");*/
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

footer .col {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 20px;
}

footer .logo {
  margin-bottom: 30px;
}

footer h4 {
  font-size: 14px;
  padding-bottom: 20px;
}

footer p {
  font-size: 13px;
  margin: 0 0 8px 0;
}

footer a {
  font-size: 13px;
  text-decoration: none;
  color: #000;
  margin-bottom: 10px;
}

footer .follow {
  margin-top: 20px;
}

footer .follow img {
  color: #000;
  padding-right: 4px;
  cursor: pointer;
}

footer .install .row img {
  border: 1px solid #000;
  border-radius: 6px;
}

footer .install img {
  margin: 10px 0 15px 0;
}

footer .follow img:hover,
footer a:hover {
  color: #000;
}

footer .copyrigth {
  width: 100%;
  text-align: center;
}

.links__a {
  transition: 0.5s ease-in-out;
}

.links__a::after {
  content: "";
  display: inline-block;
  width: 100%;
  height: 1px;
  background: #000;
  position: absolute;
  bottom: 0;
  left: 0;
}

.links__a:hover::after {
  height: 2px;
}

.links__a__e::after {
  content: "";
  display: inline-block;
  width: 100%;
  height: 1px;
  background: #000;
  position: absolute;
  bottom: 0;
  left: 0;
}

.links__a__e:hover::after {
  height: 2px;
}

.circle__logo::after {
  content: "";
  width: 120px;
  height: 120px;
  border-radius: 50%;
  position: absolute;
  transform: translateX(-50%);
  transform: translateY(-50%);
  top: 50%;
  left: 10%;
  background: #537330;
}
