---
// Components Astro
import RegisterOptionText from "./RegisterOptionText.astro";
import NavRegister from "./custom/nav/NavRegister.astro";
// Components React
import { RegisterForm } from "./RegisterForm";
// Styles
import "./Register.module.css";
---

<!-- Register Page -->
<main
  class="absolute w-full bg-center bg-no-repeat bg-cover h-dvh bg_login_img"
  style="background-image: url(https://firebasestorage.googleapis.com/v0/b/sabata-auth.appspot.com/o/bg_login.webp?alt=media&token=acee35c1-2657-477e-86da-b06177f057cb)"
>
  <header>
    <NavRegister />
  </header>
  <section
    class="flex items-center justify-between w-full gap-10 pl-20 header__content pr-14"
  >
    <RegisterForm client:idle />
    <RegisterOptionText />
  </section>
</main>
