---
// Components Astro
import RegisterOptionText from "./RegisterOptionText.astro";
import NavRegister from "./custom/nav/NavRegister.astro";
// Components React
import { RegisterForm } from "./RegisterForm";
// Styles
import "./Register.module.css";
// Optimized Background
import { BackgroundImgComponent } from "@/components/custom/Image/BackgroundImgComponent";
---

<!-- Register Page -->
<BackgroundImgComponent className="bg-[#e6e7eb] xl:h-dvh" src="">
  <header class="">
    <NavRegister />
  </header>
  <section
    class="flex items-center justify-between w-full gap-10 pl-20 header__content pr-20"
  >
    <RegisterForm client:idle />
    <RegisterOptionText />
  </section>
</BackgroundImgComponent>
