---
// Components React

// Custom Icons
import { GoogleIcon } from "@/components/custom/Icons/Google";
import { FacebookIcon } from "@/components/custom/Icons/Facebook";
---

<!-- Login / Register Options -->
<div class="relative w-[400px]">
  <h2 class="pb-12 text-3xl font-medium text-center -leading-5">
    Registrate y unete a la comunidad de sabata
  </h2>
  <p class="text-sm text-center">Si ya te registraste, puedes 
    <a data-astro-prefetch="tap" id="toLoginText" href="/es/auth/login"
      class="text-[#ef7674] cursor-pointer font-semibold hover:underline">iniciar sesion con correo</a> y navegar en nuestra comunidad.
  </p>
  <div class="bg_text_login -z-0"></div>
  <div class="bg_text_login2 -z-0"></div>
  <div class="flex items-center justify-center gap-2 pt-5 pb-5">
    <div class="w-[120px] h-[1px] bg-[#00000018]"></div>
    <label class="text-xs text-[#00000080]">O inicia sesion con</label><div
      class="w-[120px] h-[1px] bg-[#00000018]"
    >
    </div>
  </div>
  <div class="flex items-center justify-center gap-4">
    <button
      title="Iniciar Sesion con Google | Sabata"
      aria-label="Iniciar Sesion con Google | Sabata"
      id="google" class="bg-white  p-2 border rounded-full shadow-md">
      <GoogleIcon />
    </button>
    <button
      title="Iniciar Sesion con Google | Sabata"
      aria-label="Iniciar Sesion con Google | Sabata"
      id="google" class="bg-white  p-2 border rounded-full shadow-md">
      <FacebookIcon />
    </button>
  </div>
</div>

<script>

  const googleSignin = document.querySelector("#toLoginText") as HTMLButtonElement

  googleSignin.addEventListener("click", () => {
    window.location.href = "/es/auth/login"
  })

</script>
