<div class="w-full absolute top-[40%] z-20 left-[75%] -translate-x-[50%] -translate-y-[50%] text-black">
  <div class="text-center gap-4 relative flex flex-col items-center justify-center text-[#f5f5f0]">
    <div class="">
      <div class="z-50 pb-6 mt-20">
        <h2 class="text-5xl font-black text">
          ¡Llegaron las ofertas de<br /> verano!
        </h2>
      </div>
      <div class="z-50 mt-4">
        <p class="text-base">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur, <br
          /> Lorem ipsum dolor sit amet.
        </p>
      </div>
    </div>
    <div>
      <div class="z-50 flex items-center justify-center gap-6 mt-12">
        <button class="w-[264px] bg-white text-black rounded-md text-sm h-[40px] ">Explorar tienda</button>
        <button class="w-[264px] bg-[#31533b] rounded-md text-sm h-[40px]">Revisar carrito</button>
      </div>
      <div class="z-50 mt-12 text-sm">
        <p class="relative block text-xs">
          *LAS OFERTAS TIENEN TIEMPO LIMITADO O HASTA GASTAR STOCK. NO SE PUEDE
          CANCELAR.
        </p>
        <p class="relative inline-block text-xs cursor-pointer">
          MÁS INFORMACIÓN SOBRE NUESTRAS OFERTAS
        </p>
      </div>
    </div>
  </div>
</div>
<div class="bg-[#31533b] top-[20%] left-[60%] absolute translate-x-[-50%] translate-y-[-50%] mix-blend-multiply filter blur-xl opacity-80  h-96 w-96  inset-0 m-auto  rounded-full  " />
<div class="bg-[#31533b] top-[20%] left-[85%] absolute translate-x-[-50%] translate-y-[-50%] mix-blend-multiply filter blur-xl opacity-80  h-96 w-96  inset-0 m-auto  rounded-full  " />
<div class="bg-[#c5b5a6] top-[60%] left-[75%] absolute translate-x-[-50%] translate-y-[-50%] mix-blend-multiply filter blur-xl opacity-80  h-60 w-96  inset-0 m-auto  rounded-full  " />
<!-- mix-blend-multiply filter blur-xl opacity-70 -->