@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .animation-delay-2000 {
    animation-delay: 2s;
  }
  .animation-delay-4000 {
    animation-delay: 4s;
  }
  .animation-delay-3000 {
    animation-delay: 3s;
  }
}

html {
  overflow-x: hidden;
  color-scheme: light;
}

img,
svg {
  content-visibility: auto;
  image-rendering: optimizeSpeed;
  shape-rendering: auto;
  text-rendering: auto;
}

body::-webkit-scrollbar,
&::-moz-scrollbar,
&::-ms-scrollbar,
&::-o-scrollbar {
  overflow: hidden;
  -ms-overflow-style: none;
  display: none;
}
