---
// Layout
import Home from "../layout/Layout.astro";
// Components Astro
import Footer from "@/components/home/custom/components/Footer.astro";

// Sections
import IntroPage from "@/components/home/sections/intro/Intro_Page.astro";
import CollectionPage from "@/components/home/sections/collection/Collection_Page.astro";
import DiscountProductsPage from "@/components/home/sections/discount_products/Discount_Products_Page.astro";
import LifeStylePage from "@/components/home/sections/life_style/Life_Style_Page.astro";
import SummerOfferPage from "@/components/home/sections/summer_offers/Summer_Offer_Page.astro";
import WomenFashionPage from "@/components/home/sections/women_fashion/Women_Fashion_Page.astro";
import { Nav_Home } from "@/components/home/custom/components/nav/Nav_Home";


  // window.location.reload();

---

<Home
  title_page="Inicio"
  description_page=""
  last_update="2024-05-02"
  keywords_page={[""]}>
  <nav class="flex navegacion_home fixed w-full pl-9 py-1 pr-56 z-50  text-sm font-medium text-white items-center justify-between">
      <div class="flex items-center gap-5">
          <a href="/" data-astro-prefetch="tap" class="tracking-[5px]">SABATA</a>
      </div>
      <Nav_Home client:idle/>
      <div class="flex gap-4 place-content-center">
          <a id="toLogin" href="/es/auth/login" data-astro-prefetch="tap"><svg  xmlns="http://www.w3.org/2000/svg"  width="20"  height="20"  viewBox="0 0 24 24"  fill="none"  stroke="#fff"  stroke-width="2"  stroke-anecap="round"  stroke-anejoin="round"  class="icon icon-tabler icons-tabler-outane icon-tabler-user"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M8 7a4 4 0 1 0 8 0a4 4 0 0 0 -8 0" /><path d="M6 21v-2a4 4 0 0 1 4 -4h4a4 4 0 0 1 4 4v2" /></svg></a>
          <a href="/es/cart" data-astro-prefetch="tap"><svg  xmlns="http://www.w3.org/2000/svg"  width="20"  height="20"  viewBox="0 0 24 24"  fill="none"  stroke="#fff"  stroke-width="2"  stroke-anecap="round"  stroke-anejoin="round"  class="icon icon-tabler icons-tabler-outane icon-tabler-shopping-cart"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M6 19m-2 0a2 2 0 1 0 4 0a2 2 0 1 0 -4 0" /><path d="M17 19m-2 0a2 2 0 1 0 4 0a2 2 0 1 0 -4 0" /><path d="M17 17h-11v-14h-2" /><path d="M6 5l14 1l-1 7h-13" /></svg></a>
          <a href="/es/contact#contacto" data-astro-prefetch="tap"><svg  xmlns="http://www.w3.org/2000/svg"  width="22"  height="22"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-help"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M12 12m-9 0a9 9 0 1 0 18 0a9 9 0 1 0 -18 0" /><path d="M12 17l0 .01" /><path d="M12 13.5a1.5 1.5 0 0 1 1 -1.5a2.6 2.6 0 1 0 -3 -4" /></svg></a>
      </div>
  </nav>
  <main class="relative bg-black">
    <section  class="header_scroll_home section">
      <IntroPage />
    </section>
      <WomenFashionPage />
      <SummerOfferPage />
      <DiscountProductsPage />
      <LifeStylePage />
      <CollectionPage />
      <Footer />
  </main>
</Home>

<style>
  .blur_menu {
    backdrop-filter: blur(2px) saturate(97%);
    -webkit-backdrop-filter: blur(2px) saturate(97%);
    background-color: rgba(1, 1, 1, 0.05);
  }
</style>

<script src="../animations/useScrollHome.ts" ></script>
<!-- ahora te mostrare un video del efecto que deseo conseguir oki, este hace la animacion scroll ya sea presionando una vez la tecla flecha abajo o un pequeñito scroll: -->