<ol>
  <li class="flex items-center gap-5">
    <a class="link_login" data-astro-prefetch="tap" href="">Español</a>
    <a class="link_login_active" data-astro-prefetch="tap" href=""
      >Iniciar sesion
    </a>
    <a
      href="/register"
      data-astro-prefetch="tap"
      class="link_login_res text-xs hover:text-[#fafafa] hover:bg-[#ef7674] link__register px-3 py-1.5 text-[#ef7674] rounded-3xl bg-[#fff]"
      >Registrarse</a
    >
  </li>
</ol>
