<footer
  class="z-20 absolute translate-y-[-50%] -bottom-[1%] text-center w-full flex h-[200px] items-center justify-between px-10"
>
  <div class="flex flex-col items-center justify-center text-center">
    <h4 class="text-lg font-semibold text-black">Please Help Me</h4>
    <a href="/shop/about-contact" class="list_hover">CONTACT</a>
    <a href="/faq.html" class="list_hover">FAQ</a>
    <a href="/shop/store-locator" class="list_hover">STORE LOCATOR</a>
    <a href="/shop/user-registration?URL=" class="list_hover">NEW USERS</a>
    <a href="/shop/order-status" class="list_hover">ORDER STATUS</a>
  </div>

  <div class="flex flex-col items-center justify-center text-center">
    <h4 class="text-lg font-semibold text-black">Please Help Me</h4>
    <a href="/shop/about-contact" class="list_hover">CONTACT</a>
    <a href="/faq.html" class="list_hover">FAQ</a>
    <a href="/shop/store-locator" class="list_hover">STORE LOCATOR</a>
    <a href="/shop/user-registration?URL=" class="list_hover">NEW USERS</a>
    <a href="/shop/order-status" class="list_hover">ORDER STATUS</a>
  </div>

  <div class="flex flex-col items-center justify-center text-center">
    <h4 class="text-lg font-semibold text-black">Please Help Me</h4>
    <a href="/shop/about-contact" class="list_hover">CONTACT</a>
    <a href="/faq.html" class="list_hover">FAQ</a>
    <a href="/shop/store-locator" class="list_hover">STORE LOCATOR</a>
    <a href="/shop/user-registration?URL=" class="list_hover">NEW USERS</a>
    <a href="/shop/order-status" class="list_hover">ORDER STATUS</a>
  </div>

  <div class="flex flex-col items-center justify-center text-center">
    <h4 class="text-lg font-semibold text-black">Please Help Me</h4>
    <a href="/shop/about-contact" class="list_hover">CONTACT</a>
    <a href="/faq.html" class="list_hover">FAQ</a>
    <a href="/shop/store-locator" class="list_hover">STORE LOCATOR</a>
    <a href="/shop/user-registration?URL=" class="list_hover">NEW USERS</a>
    <a href="/shop/order-status" class="list_hover">ORDER STATUS</a>
  </div>
</footer>

<style>
  .list_hover {
    position: relative;
    display: inline-block;
    cursor: pointer;
  }
  .list_hover::after {
    content: "";
    width: 80%;
    height: 1px;
    transform: translateX(-50%);
    background: #000;
    position: absolute;
    bottom: 0;
    left: 50%;
    transition: all 0.2s ease-in-out;
  }
  .list_hover:hover::after {
    height: 2px;
    width: 100%;
  }
</style>
