<div class="flex items-center gap-5">
  <a href="/" id="toHome" data-astro-prefetch="tap" class="tracking-[5px]"
    >SABATA</a
  >
  <div class="w-[2px] h-[15px] bg-black"></div>
  <p class="tracking-[2px]">REGISTRAR CUENTA</p>
</div>
