<ol>
  <li class="flex items-center gap-5">
    <a class="link_login" href="">Español</a>
    <a class="link_login" href="/login">Iniciar sesion </a>
    <a
      href=""
      class="link_login_res text-sm text-[#fafafa] bg-[#ef7674] link__register px-3 py-1.5 hover:text-[#ef7674] rounded-3xl hover:bg-[#fff]"
      >Registrarse</a
    >
  </li>
</ol>
