.text-font_lemon {
  text-transform: uppercase;
  font-size: 26px;
  font-family: 'Lemon', sans-serif;
}

.text-font_Poppins {
  text-transform: uppercase;
  font-size: 14.5px;
  font-family: 'Poppins', sans-serif;
}