---
---

<!-- Login / Register Options -->
<div class="relative">
  <h2 class="pb-12 text-4xl font-medium text-center -leading-5">
    Inicia sesión en<br />
    Sabata directamente
  </h2>
  <div class="flex ml-7">
    <p class="text-sm text-center"> Si no tienes una cuenta, puedes
      <a data-astro-prefetch="tap" id="toRegisterText" href="/es/auth/register"
        class="text-[#ef7674] cursor-pointer font-semibold hover:underline">registrarte ahora aquí.</a><br>
        Unete nuestra comunidad ahora.  
    </p>
  </div>
</div>

