<!-- Login / Register Options -->
<div class="relative">
  <h2 class="pb-12 text-4xl font-semibold text-center -leading-5">
    Inicia sesión en<br />
    Sabata directamente
  </h2>
  <div class="flex ml-7">
    <p class="text-sm">Si no tienes una cuenta, puedes</p>
    <a
      href="/register"
      class="z-10 ml-1 text-[#ef7674] text-sm hover:underline"
    >
      registrarte aquí con correo.</a
    >
  </div>
  <p class="text-sm text-center">Unete a nuestra comunidad ahora.</p>
</div>
