---
// Components React
import { Login_Form } from "./Login_Form";
// Components Astro
import NavLogin from "./custom/nav/NavLogin.astro";
import LoginOptionText from "./LoginOptionText.astro";
// Styles
import "./Login.module.css";
---

<!-- Login Page -->
<section class="w-full bg-[#e6e7eb] h-[110dvh] ">
  <header>
    <NavLogin />
  </header>
  <section
    class="flex items-center justify-between w-full gap-10 px-20 mt-11 header__content"
  >
    <LoginOptionText />
    <Login_Form client:idle />
  </section>
</section>
