---
// Layout
import { CarouselSizeContactFooter } from "@/components/contact/components/Carousel_Footer_Contact"
import { Marcas_Map } from "@/components/contact/components/Marcas_Map"
import { BackgroundImgComponent } from "@/components/custom/Image/BackgroundImgComponent"
import Contact_Layout from "@/layout/Layout.astro"
---

<Contact_Layout
  title_page="Contacto"
  description_page=""
  last_update="2024-05-02"
  keywords_page={[""]}
>
  <main class="relative w-full text-white bg-[#232323]">

    <nav class="w-[950px] bg-[#232323] top-8 py-1.5 rounded-full left-[50%] shadow-lg border border-[#232323] shadow-[#151515] z-[999] fixed translate-x-[-50%] translate-y-[-50%] flex place-items-center ">

      <ul class="w-full px-4  gap-x-8 items-center justify-between flex">
        <li class="cursor-pointe text-sm hover:bg-white rounded-full hover:text-black p-1">
          <a href="/"><svg  xmlns="http://www.w3.org/2000/svg"  width="20"  height="20"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="p-0 m-0 icon icon-tabler icons-tabler-outline icon-tabler-home"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M5 12l-2 0l9 -9l9 9l-2 0" /><path d="M5 12v7a2 2 0 0 0 2 2h10a2 2 0 0 0 2 -2v-7" /><path d="M9 21v-6a2 2 0 0 1 2 -2h2a2 2 0 0 1 2 2v6" /></svg></a>
        </li>
        <li class="cursor-pointe text-sm hover:bg-white rounded-xl hover:text-black py-0.5 px-2">
          <a href="#intro">Inicio</a>
        </li>
        <li class="cursor-pointer text-sm hover:bg-white rounded-xl hover:text-black py-0.5 px-2">
          <a href="#nosotros">Sobre Nosotros</a>
        </li>
        <li class="cursor-pointer text-sm hover:bg-white rounded-xl hover:text-black py-0.5 px-2">
          <a href="#contacto">Contacto</a>
        </li>
        <li class="cursor-pointer text-sm hover:bg-white rounded-xl hover:text-black py-0.5 px-2">
          <a href="#mision">Misión</a>
        </li>
        <li class="cursor-pointer text-sm hover:bg-white rounded-xl hover:text-black py-0.5 px-2">
          <a href="#marcas">Nuestras marcas</a>
        </li>
        <li class="cursor-pointer text-sm hover:bg-white rounded-xl hover:text-black py-0.5 px-2">
          <a href="#vision">Visión</a>
        </li>
        <li class="cursor-pointer text-sm hover:bg-white rounded-xl hover:text-black py-0.5 px-2">
          <a href="#noticias">Noticias</a>
        </li>
        <li class="cursor-pointer text-sm hover:bg-white rounded-xl hover:text-black py-0.5 px-2">
          <a href="#gracias">Gracias</a>
        </li>
        <li class="cursor-pointer text-sm hover:bg-white rounded-full hover:text-black p-1">
          <a href="/es/auth/login"> <svg  xmlns="http://www.w3.org/2000/svg"  width="20"  height="20"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-user-square-rounded"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M12 13a3 3 0 1 0 0 -6a3 3 0 0 0 0 6z" /><path d="M12 3c7.2 0 9 1.8 9 9s-1.8 9 -9 9s-9 -1.8 -9 -9s1.8 -9 9 -9z" /><path d="M6 20.05v-.05a4 4 0 0 1 4 -4h4a4 4 0 0 1 4 4v.05" /></svg></a>
        </li>
      </ul>
    </nav>

    <BackgroundImgComponent className="relative z-0 w-full bg-center bg-no-repeat bg-cover h-dvh"
    id="intro"
    src="https://firebasestorage.googleapis.com/v0/b/sabata-auth.appspot.com/o/Bg-Gradients%2Fbg-contact-gradients.jpg?alt=media&token=fc6b2a13-e6dc-4bc0-835b-574c04b16ebe">

    <div class="absolute place-content-center flex-col top-0 left-0 z-20 flex w-full py-12 text-white cursor-default bg-black/30 h-dvh">
        <h2 class="text-[#bbbbbb] transition-all duration-1000 ease-in-out hover:text-[white] cursor-pointer text-center leading-none tracking-tighter text-[150px] font-semibold">
        SABATA
        </h2>
        <h2 class="text-[#bbbbbb] transition-all duration-1000 ease-in-out hover:text-white cursor-pointer text-center leading-none tracking-tighter text-[150px] font-semibold">
        Por que la ropa que usas te define
        </h2>
    </div>

    <div class="absolute top-0 left-0 z-10 w-full cursor-default bg-black/0 h-dvh"/>

    </BackgroundImgComponent>

    <section id="nosotros"class="w-full flex flex-col place-content-center gap-10  px-10 flex flex-col h-[100vh]">
      <h2 class="text-2xl text-black text-nowrap inline-block py-2 w-[257px] pl-6 rounded-[50px] font-bold uppercase bg-white">Sobre Nosotros</h2>

      <h2 class="flex flex-col gap-2 leading-[60px] text-white text-[64px]">
        <span>Desatando la Revolución: La </span>
        <span>Vanguardia de la Moda Femenina  </span>
        <span>y el nuevo estilo de vida de las mujeres.</span>
      </h2>

      <p class="mt-5 text-3xl font-thin leading-10 pr-14 text-[#a0a0a0]">
        La moda femenina es un universo diverso y en constante evolución que refleja
        la creatividad, la personalidad y la expresión individual de las mujeres en
        todo el mundo. Desde la elegancia clásica de un vestido negro hasta la
        audacia de una declaración de moda vanguardista, la moda ofrece a las
        mujeres la oportunidad de explorar y experimentar con una amplia gama de
        estilos telas, colores y patrones.
      </p>
    </section>

    <section id="contacto" class="w-full flex items-center mt-40 h-[100vh]">

        <div class="w-[580px] items-center flex flex-col gap-5 justify-center ">
        <h2 class="text-6xl font-semibold text_animation_h2">Contactanos</h2>
        <ul class="flex flex-col gap-3 mt-6">
            <li
            class="w-[458px] hover:bg-[#2e2e2e46] transition-all ease-in-out items-center gap-6 justify-center flex h-[118px] rounded-lg border-[#2e2e2e] border"
            >
            <img loading="lazy"
                class="rounded-full w-[70px]"
                src="https://unavatar.io/midudev"
                alt=""
            />
            <p
                class="text-[#979797] ml-4 flex flex-col pr-14 text-[17px] font-medium"
            >
                <span class="-mt-1">Hola Soy Jessica y estaré feliz de</span>
                <span class="-mt-1">poder ayudarte con tu solicitud de</span>
                <span class="-mt-1"
                >proyecto. <span class="text-base text-white"
                    >Sólo envíame un correo</span
                ></span
                >
                <span class="-mt-1 text-base text-white"
                >electrónico: <span class="border-b border-white cursor-pointer"
                    >stev_0w0@gmail.com</span
                ></span>
            </p>
            </li>
            <li
            class="w-[458px] hover:bg-[#2e2e2e46] transition-all ease-in-out items-center justify-center flex h-[118px] rounded-lg border-[#2e2e2e] border"
            >
            <img loading="lazy"
                class="rounded-full ml-6 w-[70px]"
                src="https://unavatar.io/pedro"
                alt=""
            />
            <p
                class="text-[#979797] ml-8 flex flex-col pr-14 text-[17px] font-medium"
            >
                <span class="-mt-1">¿Le gustaría ponerse en contacto</span>
                <span class="-mt-1">directamente con la dirección?</span>
                <span class="-mt-1 text-base text-white border-white"
                >Entonces envíame un correo electrónico</span
                >
                <span class="-mt-1 text-base text-white border-white cursor-pointer"
                ><span class="border-b border-white cursor-pointer"
                    >stev_0w0@gmail.com</span
                ></span>
            </p>
            </li>
        </ul>
        <ul class="flex gap-3 w-[460px]">
            <li
            class="flex flex-col-reverse font-thin text-xs hover:bg-[#535353] cursor-pointer transition-all ease-in-out text-[#97a18d] items-center justify-center gap-1 w-[147px] h-[72px] bg-[#2e2e2e] rounded-lg"
            >
            Llamanos<svg
                xmlns="http://www.w3.org/2000/svg"
                width="1.5rem"
                height="1.5rem"
                viewBox="0 0 24 24"
                ><path
                fill="currentColor"
                d="M6.62 10.79c1.44 2.83 3.76 5.15 6.59 6.59l2.2-2.2c.28-.28.67-.36 1.02-.25c1.12.37 2.32.57 3.57.57a1 1 0 0 1 1 1V20a1 1 0 0 1-1 1A17 17 0 0 1 3 4a1 1 0 0 1 1-1h3.5a1 1 0 0 1 1 1c0 1.25.2 2.45.57 3.57c.11.35.03.74-.25 1.02z"
                ></path></svg>
            </li>
            <li
            class="flex flex-col-reverse font-thin text-xs hover:bg-[#535353] cursor-pointer transition-all ease-in-out text-[#97a18d] items-center justify-center gap-1 w-[147px] h-[72px] bg-[#2e2e2e] rounded-lg"
            >
            Escribenos<svg
                xmlns="http://www.w3.org/2000/svg"
                width="1.5rem"
                height="1.5rem"
                viewBox="0 0 36 36"
                ><path
                fill="currentColor"
                d="M32.33 6a2 2 0 0 0-.41 0h-28a2 2 0 0 0-.53.08l14.45 14.39Z"
                class="clr-i-solid clr-i-solid-path-1"></path><path
                fill="currentColor"
                d="m33.81 7.39l-14.56 14.5a2 2 0 0 1-2.82 0L2 7.5a2 2 0 0 0-.07.5v20a2 2 0 0 0 2 2h28a2 2 0 0 0 2-2V8a2 2 0 0 0-.12-.61M5.3 28H3.91v-1.43l7.27-7.21l1.41 1.41Zm26.61 0h-1.4l-7.29-7.23l1.41-1.41l7.27 7.21Z"
                class="clr-i-solid clr-i-solid-path-2"></path><path
                fill="none"
                d="M0 0h36v36H0z"></path></svg>
            </li>
            <li
            class="flex flex-col-reverse font-thin text-xs hover:bg-[#535353] cursor-pointer transition-all ease-in-out text-[#97a18d] items-center justify-center gap-1 w-[147px] h-[72px] bg-[#2e2e2e] rounded-lg"
            >
            Ubicanos<svg
                xmlns="http://www.w3.org/2000/svg"
                width="1.5rem"
                height="1.5rem"
                viewBox="0 0 24 24"
                ><g fill="none"
                ><path
                    d="M24 0v24H0V0zM12.594 23.258l-.012.002l-.071.035l-.02.004l-.014-.004l-.071-.036c-.01-.003-.019 0-.024.006l-.004.01l-.017.428l.005.02l.01.013l.104.074l.015.004l.012-.004l.104-.074l.012-.016l.004-.017l-.017-.427c-.002-.01-.009-.017-.016-.018m.264-.113l-.014.002l-.184.093l-.01.01l-.003.011l.018.43l.005.012l.008.008l.201.092c.012.004.023 0 .029-.008l.004-.014l-.034-.614c-.003-.012-.01-.02-.02-.022m-.715.002a.023.023 0 0 0-.027.006l-.006.014l-.034.614c0 .012.007.02.017.024l.015-.002l.201-.093l.01-.008l.003-.011l.018-.43l-.003-.012l-.01-.01z"
                ></path><path
                    fill="currentColor"
                    d="M20.235 5.686c.432-1.195-.726-2.353-1.921-1.92L3.709 9.048c-1.199.434-1.344 2.07-.241 2.709l4.662 2.699l4.163-4.163a1 1 0 0 1 1.414 1.414L9.544 15.87l2.7 4.662c.638 1.103 2.274.957 2.708-.241z"
                ></path></g
                ></svg>
            </li>
        </ul>
        <ul
            class="hover:bg-[#535353] transition-all ease-in-out flex items-center px-10 justify-between h-[82px] w-[460px] bg-[#2e2e2e] rounded-lg"
        >
            <li class="flex flex-col justify-center">
            <h4 class="text-[#979797] text-[15px]">Correo electrónico</h4>
            <p class="text-base cursor-pointer">stev_0w0@gmail.com</p>
            </li>
            <li
            class="flex border-l pl-14 border-[#97979738] ml-8 flex-col justify-center"
            >
            <h4 class="text-[#979797] text-base">Teléfono</h4>
            <p class="text-base cursor-pointer">+593 99 920 3644</p>
            </li>
        </ul>
        </div>
        
        <img loading="lazy" class="w-[764px] h-[100vh] bg-center rounded-lg bg-no-repeat bg-cover"
        src="https://images.unsplash.com/photo-1570833181606-e694d0560b0c?q=80&w=1335&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D">
      </img>

    </section>

    <section class="w-full px-[60px] items-center justify-center pt-96 flex h-[110vh]">
      <BackgroundImgComponent className="w-full bg-center bg-no-repeat bg-cover relative rounded-xl mt-8 h-[90vh] border"
        src="https://images.unsplash.com/photo-1551997476-7788a5dd3fca?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D">
        <div class="flex absolute -translate-x-[50%] -translate-y-[50%] top-[15%] left-[92%] text-black items-center hover:w-24 hover:h-24 hover:bg-white transition-all ease-in-out w-20 h-20 justify-center bg-[#3e4346] rounded-full">
          <svg xmlns="http://www.w3.org/2000/svg" width="2rem" height="2rem" viewBox="0 0 24 24"><path fill="currentColor" d="M11.224 6.807c1.2-.835 2.036-1.415 2.694-1.753c.658-.337.96-.336 1.156-.266c.12.044.24.107.346.186c.187.139.37.417.5 1.156a.75.75 0 0 0 1.478-.26c-.15-.856-.427-1.613-1.084-2.1a2.861 2.861 0 0 0-.731-.393c-.795-.286-1.579-.053-2.35.342c-.759.39-1.678 1.03-2.818 1.823l-.251.176c-.418.29-.556.384-.698.45a1.926 1.926 0 0 1-.475.15c-.15.027-.311.03-.812.03h-.16c-1.12-.001-1.925-.002-2.64.348c-.66.322-1.284.947-1.621 1.607c-.364.712-.406 1.455-.467 2.518l-.007.128c-.021.36-.034.717-.034 1.051c0 .335.013.691.034 1.052l.007.128c.06 1.062.103 1.805.467 2.518c.337.66.962 1.285 1.621 1.607c.715.35 1.52.349 2.64.348h.16c.5 0 .662.003.812.03c.163.028.323.079.475.15c.142.066.28.159.698.45l.251.175c1.14.794 2.06 1.434 2.819 1.823c.77.396 1.554.629 2.349.343a2.86 2.86 0 0 0 .73-.393c.658-.488.934-1.245 1.085-2.1a.75.75 0 1 0-1.478-.26c-.13.74-.313 1.017-.5 1.155a1.361 1.361 0 0 1-.346.186c-.196.071-.498.072-1.156-.265c-.658-.338-1.495-.918-2.694-1.753l-.252-.176c-.35-.244-.599-.417-.872-.544a3.43 3.43 0 0 0-.846-.268c-.297-.053-.598-.053-1.016-.053h-.06c-1.348 0-1.776-.018-2.14-.196c-.358-.174-.75-.56-.944-.941c-.204-.4-.241-.811-.313-2.05A16.99 16.99 0 0 1 4.75 12c0-.298.011-.624.031-.965c.072-1.239.109-1.65.313-2.05c.194-.381.586-.767.944-.941c.364-.178.792-.196 2.14-.196h.06c.418 0 .72 0 1.016-.053c.292-.052.576-.142.846-.268c.273-.127.522-.3.872-.544z"></path><path fill="currentColor" d="M14.53 8.47a.75.75 0 0 0-1.06 1.06L15.94 12l-2.47 2.47a.75.75 0 0 0 1.06 1.06L17 13.062l2.47 2.47a.75.75 0 0 0 1.06-1.061L18.06 12l2.47-2.47a.75.75 0 1 0-1.06-1.06L17 10.94z"></path></svg>
        </div>
        <div class="flex absolute -translate-x-[50%] -translate-y-[50%] top-[15%] left-[83%] text-black items-center hover:w-24 hover:h-24 hover:bg-white transition-all ease-in-out w-20 h-20 justify-center bg-[#3e4346] rounded-full">
          <svg xmlns="http://www.w3.org/2000/svg" width="2rem"height="2rem" viewBox="0 0 256 256" ><path fill="currentColor" d="M224 128a96 96 0 0 1-94.71 96H128a95.38 95.38 0 0 1-65.9-26.2a8 8 0 0 1 11-11.63a80 80 0 1 0-1.67-114.78a3 3 0 0 1-.26.25l-10.54 9.65l17 17A8 8 0 0 1 72 112H24a8 8 0 0 1-8-8V56a8 8 0 0 1 13.66-5.7L49.31 70l10.94-10A96 96 0 0 1 224 128"></path></svg>
        </div>
        <div class="flex absolute -translate-x-[50%] -translate-y-[50%] top-[50%] left-[50%] text-black items-center hover:w-32 hover:h-32 hover:bg-white transition-all ease-in-out w-24 h-24 justify-center bg-[#3e4346] rounded-full" >
          <svg xmlns="http://www.w3.org/2000/svg" width="2rem" height="2rem" viewBox="0 0 24 24" ><path fill="currentColor" d="M8 17.175V6.825q0-.425.3-.713t.7-.287q.125 0 .263.037t.262.113l8.15 5.175q.225.15.338.375t.112.475t-.112.475t-.338.375l-8.15 5.175q-.125.075-.262.113T9 18.175q-.4 0-.7-.288t-.3-.712" ></path></svg>
        </div>
      </BackgroundImgComponent>
    </section>

    <section id="mision" class="w-full grid place-content-center px-[60px] mt-80 pt-10 h-[100vh]">
      <div class="flex flex-col items-center justify-center">
        <div class="flex items-center justify-center gap-4">
          <h2 class="text-6xl tracking-tighter">Nuestra Misión</h2>
          <p class="mt-5 flex flex-col text-[3vw] text-[#fafafa83]">
            Es empoderar a las mujeres a través de 
          </p>
        </div>
        <p class="mt-5 flex flex-col text-[3vw] text-[#fafafa83]">
          la moda, ofreciendo calzado femenino de alta calidad que combina estilo, comodidad
          y accesibilidad. Nos comprometemos a proporcionar una experiencia de
          compra excepcional, tanto en línea como en la tienda, que sea
          personalizada y sin complicaciones. Nuestro objetivo es ayudar a cada
          mujer a expresar su estilo único y sentirse segura en cada paso que da.
          Porque nuestra moda es tu nuevo estilo de vida.
        </p>
      </div>
    </section>

    <BackgroundImgComponent className="w-full bg-center bg-cover bg-no-repeat flex items-center justify-start px-[60px] mt-28 pt-10 h-[110vh]"
    src="https://images.unsplash.com/photo-1608228088998-57828365d486?q=80&w=1382&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D">
      <h2 class="text-white hover:blur-sm transition-all duration-1000 ease-in-out hover:text-[#151515] cursor-pointer text-center leading-none tracking-tighter text-[150px] font-semibold">Por que la ropa que usas te define</h2>
    </BackgroundImgComponent>

    <section id="marcas" class="w-full px-[60px] mt-40 pt-10 h-[180vh]">
      <h2 class="flex tracking-tighter text-[#c8c8c8] gap-1 flex-col text-6xl">
        <span>Juntos estamos</span>
        <span>logrando grandes cosas</span>
      </h2>
      <Marcas_Map client:idle />
    </section>

    <section class="w-full px-[60px] items-center justify-center pt-10 flex h-[110vh]">
      <BackgroundImgComponent className="w-full bg-bottom bg-no-repeat bg-cover relative rounded-xl -mt-0.5 h-[98vh] border"
        src="https://images.unsplash.com/photo-1620062161349-7abc66286084?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D">
            <h2 class="absolute -translate-x-[50%] -translate-y-[50%] top-[47%] left-[26%] flex flex-col gap-2 font-semibold leading-[60px] text-white text-[48px]">
            <span class="-mt-4">"Joven, dinamico tipo. I </span>
            <span class="-mt-4">Creer en Ti. Y sentir estas</span>
            <span class="-mt-4">Increiblemente fuerte</span>
            <span class="-mt-4">Tienes consiguio él."</span>
            </h2>
            <div class="flex absolute -translate-x-[50%] -translate-y-[50%] top-[15%] left-[92%] text-black items-center hover:w-24 hover:h-24 hover:bg-white transition-all ease-in-out w-20 h-20 justify-center bg-[#3e4346] rounded-full" >
            <svg xmlns="http://www.w3.org/2000/svg" width="2rem" height="2rem" viewBox="0 0 24 24" ><path fill="currentColor" d="M11.224 6.807c1.2-.835 2.036-1.415 2.694-1.753c.658-.337.96-.336 1.156-.266c.12.044.24.107.346.186c.187.139.37.417.5 1.156a.75.75 0 0 0 1.478-.26c-.15-.856-.427-1.613-1.084-2.1a2.861 2.861 0 0 0-.731-.393c-.795-.286-1.579-.053-2.35.342c-.759.39-1.678 1.03-2.818 1.823l-.251.176c-.418.29-.556.384-.698.45a1.926 1.926 0 0 1-.475.15c-.15.027-.311.03-.812.03h-.16c-1.12-.001-1.925-.002-2.64.348c-.66.322-1.284.947-1.621 1.607c-.364.712-.406 1.455-.467 2.518l-.007.128c-.021.36-.034.717-.034 1.051c0 .335.013.691.034 1.052l.007.128c.06 1.062.103 1.805.467 2.518c.337.66.962 1.285 1.621 1.607c.715.35 1.52.349 2.64.348h.16c.5 0 .662.003.812.03c.163.028.323.079.475.15c.142.066.28.159.698.45l.251.175c1.14.794 2.06 1.434 2.819 1.823c.77.396 1.554.629 2.349.343a2.86 2.86 0 0 0 .73-.393c.658-.488.934-1.245 1.085-2.1a.75.75 0 1 0-1.478-.26c-.13.74-.313 1.017-.5 1.155a1.361 1.361 0 0 1-.346.186c-.196.071-.498.072-1.156-.265c-.658-.338-1.495-.918-2.694-1.753l-.252-.176c-.35-.244-.599-.417-.872-.544a3.43 3.43 0 0 0-.846-.268c-.297-.053-.598-.053-1.016-.053h-.06c-1.348 0-1.776-.018-2.14-.196c-.358-.174-.75-.56-.944-.941c-.204-.4-.241-.811-.313-2.05A16.99 16.99 0 0 1 4.75 12c0-.298.011-.624.031-.965c.072-1.239.109-1.65.313-2.05c.194-.381.586-.767.944-.941c.364-.178.792-.196 2.14-.196h.06c.418 0 .72 0 1.016-.053c.292-.052.576-.142.846-.268c.273-.127.522-.3.872-.544z" ></path><path fill="currentColor" d="M14.53 8.47a.75.75 0 0 0-1.06 1.06L15.94 12l-2.47 2.47a.75.75 0 0 0 1.06 1.06L17 13.062l2.47 2.47a.75.75 0 0 0 1.06-1.061L18.06 12l2.47-2.47a.75.75 0 1 0-1.06-1.06L17 10.94z" ></path></svg>
            </div>
            <div class="flex absolute -translate-x-[50%] -translate-y-[50%] top-[15%] left-[83%] text-black items-center hover:w-24 hover:h-24 hover:bg-white transition-all ease-in-out w-20 h-20 justify-center bg-[#3e4346] rounded-full" >
            <svg xmlns="http://www.w3.org/2000/svg" width="2rem" height="2rem" viewBox="0 0 256 256" ><path fill="currentColor" d="M224 128a96 96 0 0 1-94.71 96H128a95.38 95.38 0 0 1-65.9-26.2a8 8 0 0 1 11-11.63a80 80 0 1 0-1.67-114.78a3 3 0 0 1-.26.25l-10.54 9.65l17 17A8 8 0 0 1 72 112H24a8 8 0 0 1-8-8V56a8 8 0 0 1 13.66-5.7L49.31 70l10.94-10A96 96 0 0 1 224 128" ></path></svg>
            </div>
            <ul class="absolute -translate-x-[50%] -translate-y-[50%] bottom-0 left-[50%] flex items-center justify-center gap-4" >
            <li class="w-[290px]  pl-3 gap-4 glassphromismo h-[85px] transition-all ease-in-out cursor-pointer duration-500  items-center flex rounded-lg" >
                <img loading="lazy" class="rounded-full p-2 border border-gray-600 w-[60px]" src="https://unavatar.io/pedro" alt="" />
                <p class="flex flex-col text-sm font-medium">
                <span class="-mt-1 ">Steven J Sanchez</span>
                <span class="-mt-1 text-[13px] text-[#938886] uppercase" >Desarrollador Fullstack</span>
                </p>
            </li>
            <li class="w-[290px] pl-3 gap-4 glassphromismo h-[85px] transition-all ease-in-out cursor-pointer duration-500  items-center flex rounded-lg" >
                <img loading="lazy"
                class="rounded-full p-2 border border-gray-600 w-[60px]"
                src="https://unavatar.io/pedro"
                alt=""
                />
                <p class="flex flex-col text-sm font-medium">
                <span class="-mt-1 ">Steven J Sanchez</span>
                <span class="-mt-1 text-[13px] text-[#938886] uppercase"
                    >Desarrollador Fullstack</span
                >
                </p>
            </li>
            <li class="w-[290px] pl-3 gap-4 glassphromismo h-[85px] transition-all ease-in-out cursor-pointer duration-500  items-center flex rounded-lg" >
                <img loading="lazy" class="rounded-full p-2 border border-gray-600 w-[60px]" src="https://unavatar.io/pedro" alt=""/>
                <p class="flex flex-col text-sm font-medium">
                <span class="-mt-1 ">Steven J Sanchez</span>
                <span class="-mt-1 text-[13px] text-[#938886] uppercase">Desarrollador Fullstack</span>
                </p>
            </li>
            </ul>
      </BackgroundImgComponent>
    </section>

    <section id="vision" class="w-full grid px-[60px] place-content-center mt-28 pt-10 h-[100vh]">
      <div class="flex flex-col items-center justify-center">
        <div class="flex items-center justify-center gap-4">
          <h2 class="text-6xl">Nuestra Visión</h2>
          <p class="mt-5 flex flex-col text-[3vw] text-[#fafafa83]">
            Nuestra visión es convertirnos en la marca de
          </p>
        </div>
        <p class="mt-5 flex flex-col text-[3vw] text-[#fafafa83]">
          calzado femenino de referencia a nivel nacional e internacional,
          reconocida por nuestra calidad, innovación y compromiso con la
          satisfacción del cliente. Aspiramos a ser líderes en la industria del
          calzado, estableciendo nuevas tendencias y elevando el estándar de lo
          que las mujeres pueden esperar de su calzado. A través de nuestras
          prácticas de negocio sostenibles y éticas, buscamos hacer una diferencia
          positiva en la industria de la moda.
        </p>
      </div>
    </section>

    <section id="noticias"class="w-full grid gap-8 justify-center px-[60px] mt-28 pt-10 h-[100vh]">
      <h2 class="flex tracking-tighter text-[#c8c8c8] gap-1 flex-col text-6xl">
        <span>Ultimas noticias del</span>
        <span>mundo fashion de SABATA</span>
      </h2>
      <CarouselSizeContactFooter client:idle />
    </section>

    <footer id="gracias"  class="h-[100vh] text-white relative footer_scroll_home section bg-[#232323]">

      <div class="absolute w-[25%] h-[50%] translate-y-[-50%] translate-x-[-50%] left-[25%] top-[40%]">
          <svg xmlns="http://www.w3.org/2000/svg" version="1.1" viewBox="0 0 1168 2048" width="320" height="320">
              <path transform="translate(447)" d="m0 0h42l35 6 25 6 19 6 15 6 25 12 18 10 19 13 12 9 13 11 10 9 11 10 7 8 12 13 11 14 11 15 11 17 12 20 10 19 10 25 8 24 7 29 4 27 2 19v31l-3 27-4 20-7 25-8 21-8 16-9 16-11 16-14 18-6 9-2 9-4 6h-4l-4-3 1-6 11-22 9-24 8-26 5-23 3-21 1-17v-27l-2-26-4-23-6-24-9-27-9-20-11-21-14-21-12-16-8-10-12-13-14-14-14-11-15-11-19-12-16-8-19-8-18-6-22-5-25-3h-27l-23 3-27 6-21 7-25 11-19 11-19 13-15 13-8 7-9 10-11 14-10 15-10 18-8 20-6 21-3 18-1 10v26l3 24 5 21 7 21 13 28 9 17 10 15 14 19 12 14 11 13 9 10 11 12 12 12v2l3 1v2l3 1 7 8 16 15 11 11 8 7 13 12 8 7 10 9 11 9 10 9 11 9 17 14 13 11 10 8 16 13 14 11 16 13 14 11 16 13 14 11 16 13 14 11 32 26 10 8 13 11 10 8 17 14 14 12 13 11 11 10 11 9 15 14 11 9 10 10 8 7 10 10 8 7 7 7 3 2v2l4 2 27 27v2l3 1 7 8 9 9 7 8 9 9 7 8 11 12 9 11 10 11 9 11 13 16 13 17 14 18 13 19 8 11 13 20 13 21 13 22 11 22 11 25 14 37 11 33 11 44 7 40 3 27 2 30v15l-1 23-4 38-6 35-6 25-9 31-9 25-15 34-16 31-12 21-10 15-12 17-20 26-13 15-11 12-31 31-8 7-14 12-13 10-19 14-15 10-21 13-26 14-27 13-27 11-28 10-29 8-29 6-40 7-24 3-13 1h-84l-31-3-28-4-41-8-30-7-25-8-20-7-39-16-25-12-25-13-26-16-20-13-22-15-17-12-12-9-11-10-8-7-7-7-7-8-13-14-15-20-14-20-12-19-15-24-11-19-12-23-11-24-11-29-10-31-8-32-7-41-3-22-3-36v-40l4-43 7-44 6-28 10-34 11-31 11-26 8-17 10-19 13-22 11-17 12-17 12-16 11-14 10-11 7-8 11-12 22-22 11-9 7-7 14-11 16-13 34-24 35-21 18-10 23-12 35-16 36-14 28-10 41-12 44-11 26-5 7-2 8-1-6-7-14-12-17-14-13-11-8-7-14-12-8-7-13-11-8-7-14-12-11-9-14-12-11-10-10-8-14-12-9-7-10-8-18-13-12-9-13-12-23-23-7-8-12-13-9-10-11-13-9-12-13-17-16-23-14-22-10-16-12-21-8-16-11-24-10-28-5-18-6-30-3-22-1-13v-36l2-19 3-19 8-31 7-20 10-23 9-17 11-17 12-17 13-15 9-10 15-15 11-9 15-12 18-12 20-12 17-9 25-11 25-9 31-8 21-4 20-2zm130 872-25 8-21 7-28 11-39 16-24 11-33 16-25 13-22 13-1 2 50 10 44 11 36 12 20 8 16 8 12 7 11 8 10 9 6 9 2 8v10l-5 10-3 3 2 4 12 21 8 16 6 18 6 36 5 40 3 15 4 12 7 14 8 11 9 10 11 11 17 13 15 11 9 7 6 7v6l-6 8-16 8-20 7-7 4-4 8 2 7 11 11 8 7 6 9 1 5-5 5-25 9-6 3 1 3 22 9 5 4 1 6-8 11-10 9-4 8 9 28 2 8v12l-5 10-5 5-8 5-12 4-6 1h-44l-22-3-25-5-23-6-34-10h-22l-12 7-12 11-10 13-11 21-7 18-5 21-2 13v24l3 18 5 16 5 12 7 14 9 13 8 10 10 11 8 7 12 10 17 12 24 13 22 10 22 8 25 7 32 6 22 3 16 1h36l23-2 23-3 28-6 30-9 29-12 22-11 19-12 17-12 12-10 8-7 21-21 11-14 12-16 13-21 14-26 13-27 11-27 7-19 9-31 6-28 3-20 2-24v-39l-3-33-4-22-6-24-12-36-11-26-8-17-11-20-13-20-10-15-13-18-13-16-13-18-14-17-9-11-7-9-12-14-11-12-8-8-7-8-69-69-8-7-7-7-11-9-11-11-8-7-11-10-8-7-11-10-11-9-12-11-11-9-11-10-11-9-12-11-10-8-6-5z" fill="#4E411E"/>
              <path transform="translate(81,1151)" d="m0 0 2 1-3 4 2 3-1 6h-2l1 4-3 6 5-1 4-1 7 6 2 5-2 5 2 12 2 11 2 4v8l2 6 2 9 2 3v3h-2v3h4l1 3 5 3 8 6v2l2 1v2l4 4 2 5 6 12 4 10 1 2 3 1v5h2l6 7 2 8 5 2 2 4 4 4-1 2h-2v2l5 1 5 8 3 2v2h2l7 8v2l3-1 2 8 2 10 4 1v2l3-1-1 3h-2l2 9 4 4 4 3 6 4 5 10 5 4 3 7 1-2 5 1v6l4 1v-2l10 5 2 4 7 1h3l5 2v2l5 1 4 2 3 13v2l9 3 3 2 2 7 4 7 16 14 7 8 4 4 4 3 3 3 3 6v2l5 1 9 6 10 1v2h12l3 5 7 3 3 10 3 7 1 6v9l-1 10v8l1 4 6-5 7-11 7-12 2 1-9 17-7 18-5 21-2 13v24l3 18 5 16 5 12 7 14 9 13 8 10 9 10 8 7 12 10 17 12 24 13 22 10 22 8 25 7 32 6 22 3 16 1h36l23-2 23-3 28-6 30-9 29-12 22-11 19-12 17-12 12-10 8-7 20-20 11-14 12-16 13-21 14-26 13-27 11-27 7-19 3-10h5l3 5 6 1 4-4h2l1-3 9-3 3 3v2l6-2 11-2 10-2v-2l3-2 6-1h13l3 3v2h2v3l9-2 4 1h2v-2l5-1 5-5 5-3 5-1 2 4h2l1 2v9l3 4v9h2v3l5-6 2-5 3-3 1-7h2l-1 10-6 25-9 31-9 25-15 34-16 31-12 21-10 15-12 17-20 26-13 15-11 12-31 31-8 7-14 12-13 10-19 14-15 10-21 13-26 14-27 13-27 11-28 10-29 8-29 6-40 7-24 3-13 1h-84l-31-3-28-4-41-8-30-7-25-8-20-7-39-16-25-12-25-13-26-16-20-13-22-15-17-12-12-9-11-10-8-7-7-7-7-8-13-14-15-20-14-20-12-19-15-24-11-19-12-23-11-24-11-29-10-31-8-32-7-41-3-22-3-36v-40l4-43 7-44 6-28 10-34 11-31 11-26 8-17 10-19 13-22z" fill="#BC913F"/>
              <path transform="translate(300,946)" d="m0 0 7 1v3l5-3 2-1 2 7v7l-2 4-1-2h-2l3 6 1 5v5l5 2 1 5-3 4v12l5 2-1 7-2 6 2 3 5 1 3 5v3h-3l10 13 4 3 2 10 4 2 4 4 2 6 3 2v2h2l2 5 5-1 5 5 2 7 4 2 6 9 2 2 3 5v3l6 3 4 8 7 2v2l2 1-1 2 4 2 3 4 2 4 5 3 2 5 1 3 5 2 5 7 5 4 2 8h2l1 2 7 3 2 5 2 1v2l6 2 9 10 6 8 5 5 5 2 4 5 8 4 7 6 4 3v2h2v2l4 2 1 2 9 3 3 3 9 4v2l5 1 8 4 7 1 7-1 6 4 4 1 7 2 13-4 3 2v2h6l4 3-2-4v-3l4-1 4 4 7 11 12 13 9 9 17 13 15 11 9 7 7 8v6l-6 8-10 6-19 7-12 5-3 1-2 5-1 5 3 6 9 9 8 7 6 8 2 4-1 5-5 4-25 9-5 2v3l5 1 17 7 6 5 1 6-8 11-10 9-4 8 9 28 2 8v12l-5 10-4 5-10 6-12 4-6 1h-44l-22-3-25-5-23-6-34-10h-22l-12 7-12 11-11 15-3 3-5 9-7 11-8 6-1-9v-8l1-6v-9l-1-7-4-9-2-7-7-3-2-4-12-1v-2l-6 1-7-3-8-5-3-1-4-8v-2l-6-2-2-4-5-4-5-6-16-14-5-9v-5l-4-2-6-1-3-5-2-12-9-3v-2h-5l-2-2-4 1-5-2-1-4-6-2-4-3v2h-5v-7l-4-1-1 3-2-2-3-7-5-5-3-6v-2l-5-2-5-4-5-5-2-7 3-4h-2v-2l-5-1-3-16-3-1-4-5v-2l-3-1v-2h-2l-6-7-2-5-3 1v-2h-2v-2h2l-1-4-3-2-1-3-5-3-4-9v-2l-4-2v-2h-2l-1-5-4-2-6-15-4-8-2-5-4-4-2-5-8-6-5-3v-3h-4v-3h2l-4-8-2-12-1-2v-7l-3-8-3-21 2-5-1-3-4-2-3-3-4 1-3 1-2-1 2-7v-3h2v-8l-2-1 3-5 2-5 7-11 12-17 12-16 11-14 10-11 7-8 11-12 22-22 11-9 7-7 14-11 16-13 34-24 35-21z" fill="#7C622B"/>
              <path transform="translate(447)" d="m0 0h42l35 6 25 6 19 6 15 6 25 12 18 10 19 13 12 9 13 11 10 9 11 10 7 8 12 13 11 14 11 15 11 17 12 20 10 19 10 25 8 24 7 29 4 27 2 19v31l-3 27-4 20-7 25-8 21-8 16-9 16-11 16-14 18-6 9-2 9-4 6h-4l-4-3 1-6 11-22 9-24 8-26 5-23 3-21 1-17v-27l-2-26-4-23-6-24-9-27-9-20-11-21-14-21-12-16-8-10-12-13-14-14-14-11-15-11-19-12-16-8-19-8-18-6-22-5-25-3h-27l-23 3-27 6-21 7-25 11-19 11-19 13-15 13-8 7-9 10-11 14-10 15-10 18-8 20-6 21-3 18-1 10v26l3 24 5 21 7 21 13 28 9 17 10 15 14 19 2 4h-2l4 8-1 7h-2l2 10-1 12-6 4-1 7-5 1-1 4-1 8-1 6-3 5-3 7 1 5h-4v2l3 1v12l-5 2-7 8v5l3 3v3h-2l2 8 1 3v9 3l1 4 6 7 10 10 2 4h2l7 9 21 21v2h2l6 8 8 7 10 10h-3l-18-13-12-9-13-12-23-23-7-8-12-13-9-10-11-13-9-12-13-17-16-23-14-22-10-16-12-21-8-16-11-24-10-28-5-18-6-30-3-22-1-13v-36l2-19 3-19 8-31 7-20 10-23 9-17 11-17 12-17 13-15 9-10 15-15 11-9 15-12 18-12 20-12 17-9 25-11 25-9 31-8 21-4 20-2z" fill="#7C622B"/>
              <path transform="translate(81,1151)" d="m0 0 2 1-3 4 2 3-1 6h-2l1 4-3 6 5-1 4-1 7 6 2 5-2 5 2 12 2 11 2 4v8l2 6 2 9 2 3v3h-2v3h4l1 3 5 3 8 6v2l2 1v2l4 4 2 5 6 12 4 10 1 2 3 1v5h2l6 7 2 8 5 2 2 4 4 4-1 2h-2v2l5 1 5 8 3 2v2h2l7 8v2l3-1 2 8 2 10 4 1v2l3-1-1 3h-2l2 9 4 4 4 3 6 4 5 10 5 4 3 7 1-2 5 1v6l4 1v-2l10 5 2 4 7 1h3l5 2v2l5 1 4 2 3 13v2l9 3 3 2 2 7 4 7 16 14 7 8 4 4 4 3 3 3 3 6v2l5 1 9 6 10 1v2h12l3 5 7 3 3 10 3 7 1 6v9l-1 10v8l1 4 6-5 7-11 7-12 2 1-9 17-7 18-5 21-3 19-1 19v12l-3 6-1 6h-3v-2l-4 1-5-4-3-3-6-3-9 1-6-5-7-2v-3-2l-5-2-3-1-3-5-5-2-4-5-8-4-3-6-5 2v-2l-4-1-4 1-2-3v-3h-2v-2l-4-2v-4l-8-1-7-2-7-6h-6l-2 1-6-1v-2l-5-1v-2l-3-1-1-3-3-1-1-3-5-4v-2l-4-1-6-7-4-4-2-10-6-8-2-5-5-2-2-5-9-1h-3l2-6-6-5-4-4-5-2-2-4-5-3-5-5-4-5v-3h-2v-2h2l-3-3-5-3-5-5-6-8-4-1-3 2-6-4-1-4 3-2 3 1v-2l-3-3-3-1-2-3-2 3-7-5-2-6-7-10-1-7h-2l-1-6-4-2v-4l-3-2v-2h-2l-4-4v-2h-2l-13-13v-2l-4-2-2-2v-3h-2l-1-2-3-1v-2h-2l-2-4-1-8 1-3-6-3-1-7-7-5-2-6-5 1-3 3-5-1-5 2-3-7v-31l1-2h2l-1-5-1 3h-2l1-9 7-27 9-29 12-32 11-24 9-19 12-21z" fill="#9E7B36"/>
              <path transform="translate(836,1111)" d="m0 0 4 1 6 8 5 6 5 3 1 4 2 1 6 8 5 5 7 8 2 5 3 1v2h2l7 10 9 11 1 5 4 2 5 8v2h3l7 11 6 4 3 5v2h2v2h3l4 5 9 2 1 4h15l1-3 11-9 9-1 5-4h2v2l6-3 4-6 5-2h4v-3l4 2v-5h2l1-7 5-4-1-3 1-2 8-1 5-1 6 4h4l3-5h8l14 27 11 24 15 39 12 36 11 44 7 40 3 27 2 30v15l-1 23-4 38-4 24-3 1v7l-2 3h-2l-2 7-4 2-2 4v-4l-2-1v-9l-3-5v-10h-2l-3-3-5 2-4 2-5 5-2 1-3-1v2l-5 1h-4-6v-3h-2l-3-4h-13l-9 2v2l-18 5h-5l-4 1-1-4-5 1-6 2-1 2h-2l-1 3-3 2-6-1-3-5-4-1 2-10 6-24 5-26 3-33v-39l-3-33-4-22-6-24-12-36-11-26-8-17-11-20-13-20-10-15-13-18-13-16-13-18-14-17-9-11-7-9-10-12z" fill="#7C622B"/>
              <path transform="translate(1097,1543)" d="m0 0 3 2v2h2l1 2v9l3 4v9h2v3l5-6 2-5 3-3 1-7h2l-1 10-6 25-9 31-9 25-15 34-16 31-12 21-5 5-3 1-3 3-5 3-6-1-5 4-1-5 2-7h-3v-6l-8 2-1-4-9 3-8 4-4-1h-13l-2-1v-3l-4-2-9-2-5 1-3 2-16 2-2-7h-5l-1-2 1-5-3 1-1-3-9-2-9 6-7 4-8 7-9 3-1-2-3 6-3 5-5 4-1-2-6 1 2-4 20-20 11-14 12-16 13-21 14-26 13-27 11-27 7-19 3-10h5l3 5 6 1 4-4h2l1-3 9-3 3 3v2l6-2 11-2 10-2v-2l3-2 6-1h13l3 3v2h2v3l9-2 4 1h2v-2l5-1 5-5 5-3z" fill="#9E7B36"/>
              <path transform="translate(28,1606)" d="m0 0 3 1 1 9h2l2 6 1 4v5l3 1 1 8 4 2v3l3 1 2 8 7 12 3 7v2h2l2 7h2l6 10v3h2l5 7v3h2l4 8 9 14 1 3 2 1 8 12v2h2v2l4 2 3 4v2l3 1v2l4 2 4 8 9 6 9 7v-5l7 6 4 2v2l4 2 2 6 8 2 3 5v2h5l1 4 6 2 3 4 7 1 4 4 1 6 5-2 1-3h5l3 3v2l2 1-8-2 1 7 4 2 3 2 8-1 3 2v2l9 3 1-4 3 1 5 5 5 3 11 5 2 2 10 2 1 4 2 1v2l5 1 6 4v2l5 1 7 3 7 2 1 6 9 3 5 2 2 2 7 1 12 6 10 4 5 8 10-1 4 6h2l2-2 4 1v2l3 3h2v2l4-2 6 1 2 7 5 2 8 4 6 2 16 4 5 4 7 4v3l8-1 5 1 1-2 2 4 9 2v2l12 2 4 3 6-1 4-3 4 1 3 3 6 2 4 5v2l-7 2v2l3 2h-2v2l4 1 5 5 9 1h14l4-1 17-1 7 1 3 3 20 1v1h-47l-31-3-28-4-41-8-30-7-25-8-20-7-39-16-25-12-25-13-26-16-20-13-22-15-17-12-12-9-11-10-8-7-7-7-7-8-13-14-15-20-14-20-12-19-15-24-11-19-12-23-11-24-11-29-3-9z" fill="#D29E42"/>
              <path transform="translate(752,185)" d="m0 0h3l10 19 10 25 8 24 7 29 4 27 2 19v31l-3 27-4 20-7 25-8 21-8 16-9 16-11 16-14 18-6 9-2 9-4 6h-4l-4-3 1-6 11-22 9-24 8-26 5-23 3-21 1-17v-27l-2-26-4-23-6-24-9-27-9-20-9-17v-4l-2-7-2-3v-3h-2l-2-3-3-1-3-5 1-3h4 2l3 4 5-10 6 1 2-1 4 3 5-1 2-2 8-3h3l1-8 8-2z" fill="#50421E"/>
              <path transform="translate(316,1143)" d="m0 0 8 4 2 2 2-1 2 7 4 1 3 9 2 1v2l2 1-1 2h2v2h2v2h2l5 7 3 2-1 2h2l1 5 5 5 9 6 5 5 2 4 11 8 9 9 9 5 3 3h6v2l3 1v2h2v2l10 2 4 2 2 3 3 1 2 8 2 7 9 5-3-5-6-2v-7l3 3v2l5 2 7 3 5-2 1 3-4 2 4 5-1 3-3 1-2-4h-3-6l-4-2-3-3-2 6-3-1-3-4h-6l-9-5v-2h-2v-2l-6-1-1-2-7-2-3-4 1-3-10-2-4-5-3-1-2-4-7-4-8-11-6-4-2-5-7-2 1-5-1-3-5-1-1-5-3-2-1-5-3-1v-2h-2v-3h-2v-2h-2v-2l-6-2v-6l-8-8 4-3 1-5-3-1-5-10z" fill="#705725"/>
              <path transform="translate(247,571)" d="m0 0 3 1 12 12 7 8 15 16 3 5 8 7 4 6 8 8 5 3 17 17 5 6 5 3 1 4 4 2 8 6 16 16h-3l-18-13-12-9-13-12-23-23-7-8-12-13-9-10-11-13-9-12-4-5z" fill="#CB9A41"/>
              <path transform="translate(816,1935)" d="m0 0 3 1-20 9-35 13-27 8-26 6-17 3h-3v-2l7-1v-2h9l6-3 9-1 14-4h5v-2l9-2 18-6 8-3 15-5h6v-2l10-3z" fill="#D39F43"/>
              <path transform="translate(618,128)" d="m0 0 5 1v3l6 2 6 4 2 5 4 2 9 9 9 6 5 3 4 5 5 10v4l-24-24-14-11-6-5-2-4-4-3-6-3z" fill="#725825"/>
              <path transform="translate(836,1111)" d="m0 0 4 1 6 8 5 6 5 3 1 4 2 1 6 8 5 5 7 8 2 5 3 1v2h2l5 8 1 5 9 12-1 2-12-15-11-15-13-16-9-11-7-9-10-12z" fill="#907031"/>
              <path transform="translate(638,1392)" d="m0 0 8 1 10 6 1 6-4 4h-9l-3-3-3-7-2-2z" fill="#705725"/>
              <path transform="translate(548,1979)" d="m0 0h13l4 2 1 2 20 1v1h-47l-22-2-4-2h22l4-1z" fill="#D39F43"/>
              <path transform="translate(208,124)" d="m0 0 1 3-2 6v2h-2v2h-2l-2 7-4 2v2l-4-1 1 3-3 5-1 4-5 1-2 4-2 1 2-5 9-14 12-17z" fill="#9D7A35"/>
              <path transform="translate(726,523)" d="m0 0 1 2-3 11-4 6h-4l-4-3 1-4 6-4z" fill="#CE9C42"/>
              <path transform="translate(836,1111)" d="m0 0 4 1 6 8 5 6 5 3 1 4 2 1 6 8 4 3-1 2-6-3-9-11-7-9-10-12z" fill="#8E6F30"/>
              <path transform="translate(403,7)" d="m0 0 4 1-4 2-7 1-2 2h-10l-1 3h-9v2h-2v3l-5 1-1-3-3-1 27-8z" fill="#A88138"/>
              <path transform="translate(752,1025)" d="m0 0 5 2 28 28 1 4-7-6-27-27z" fill="#886A2E"/>
              <path transform="translate(695,210)" d="m0 0 4 2 1 3 4 1 1 3h2l4 9 1 4 1 2h-3l-12-19z" fill="#7F642C"/>
              <path transform="translate(283,57)" d="m0 0 2 1-2 6-6 5-6 1-4-2z" fill="#A27E37"/>
              <path transform="translate(345,25)" d="m0 0 2 1-1 2h-2l-1 3v-3l-3 6-8 2-5-2 4-3z" fill="#A37E37"/>
              <path transform="translate(630,141)" d="m0 0 4 2 8 6 11 9 4 4-1 3-7-7-14-11-5-4z" fill="#876A2E"/>
              <path transform="translate(322,35)" d="m0 0 4 2-4 2-1-1-3 5h-2l-1 3-6 1v-5z" fill="#9F7C36"/>
              <path transform="translate(683,1974)" d="m0 0 6 1v1l-35 6h-8v-1l17-3 9-1z" fill="#D39F43"/>
              <path transform="translate(813,1086)" d="m0 0 4 2 15 15 4 5-1 3-12-13-8-8z" fill="#907030"/>
              <path transform="translate(386,707)" d="m0 0 4 1 14 11 6 6-1 2-11-9-12-10z" fill="#87692D"/>
              <path transform="translate(1079,1244)" d="m0 0h1l2 12 2 6-1 3-3-1-3-9 1-9z" fill="#705725"/>
              <path transform="translate(852,1755)" d="m0 0h2v2l-8 7h-3v3h-2v2l-5 1 1-4z" fill="#AC8439"/>
              <path transform="translate(191,147)" d="m0 0h2l1 3-3 5-1 4-5 1-2 4-2 1 2-5z" fill="#A68038"/>
              <path transform="translate(180,165)" d="m0 0 2 1-2 4-2 5-2 2-2 5-4 9-2 4h-2l2-6 9-19z" fill="#A88238"/>
              <path transform="translate(28,1606)" d="m0 0 3 1 1 9h2l2 6 1 4v6l-2-3-7-20z" fill="#D3A046"/>
              <path transform="translate(360,19)" d="m0 0h2l1 3h-3l1 3h-3l-1-3-1 5h-3l-6-2 3-2z" fill="#A58037"/>
              <path transform="translate(856,1133)" d="m0 0 3 1 6 8 4 3-1 2-6-3-5-6z" fill="#927231"/>
              <path transform="translate(864,1145)" d="m0 0 6 2 5 5-1 5-5-5-5-6z" fill="#987633"/>
              <path transform="translate(277,407)" d="m0 0 4 2 2 3-1 3-3-1-1 6-2-3-1-6 2-2z" fill="#705725"/>
              <path transform="translate(208,124)" d="m0 0 1 3-2 6v2h-2v2h-6l6-9z" fill="#A27E37"/>
              <path transform="translate(472,1289)" d="m0 0 5 2v2l5 2 5 3-1 2-6-1v-2l-4-2-2-4h-2z" fill="#705725"/>
              <path transform="translate(372,15)" d="m0 0h5l-3 1v2h-2v3l-5 1-1-3-3-1z" fill="#A57F37"/>
              <path transform="translate(447)" d="m0 0h8l-3 2-16 3-3-2 2-1z" fill="#A88238"/>
              <path transform="translate(603,119)" d="m0 0 5 3 4 2 3 2v2l-4-1-10-5z" fill="#705725"/>
              <path transform="translate(225,105)" d="m0 0v3l-7 8-3 5-3 3-3-1 9-10z" fill="#A68038"/>
              <path transform="translate(17,1301)" d="m0 0 3 3 1 4-2 3h-2l-1 4-1-5z" fill="#B88D3D"/>
              <path transform="translate(625,1365)" d="m0 0 6 3-2 5h-3l-4-5 1-2 2 1z" fill="#705725"/>
              <path transform="translate(615,132)" d="m0 0 5 1 6 3 4 4-2 2-11-8z" fill="#896B2E"/>
              <path transform="translate(478)" d="m0 0h11l11 2v1h-12l-10-2z" fill="#A98339"/>
              <path transform="translate(886,1173)" d="m0 0 3 1 10 14-1 2-12-15z" fill="#B88C3C"/>
              <path transform="translate(752,1025)" d="m0 0 5 2 8 8v2l-4-2-9-9z" fill="#765D28"/>
              <path transform="translate(418,734)" d="m0 0 5 2 10 9-1 2-13-11z" fill="#7E622A"/>
              <path transform="translate(849,1126)" d="m0 0 5 2 3 3v6l-4-4z" fill="#907030"/>
              <path transform="translate(235,556)" d="m0 0 4 2v2l3 1 5 8-1 2-8-10z" fill="#C19749"/>
              <path transform="translate(683,1333)" d="m0 0 1 3-3 3h-2l-2 6h-3l1-4 7-6z" fill="#735926"/>
              <path transform="translate(426,1938)" d="m0 0 4 1 4 3v2h-5l-4-5z" fill="#BC913F"/>
              <path transform="translate(786,1059)" d="m0 0 4 1 7 7-1 3-10-10z" fill="#A17C36"/>
              <path transform="translate(676,182)" d="m0 0 6 5 1 4-4-1-4-5z" fill="#7B6029"/>
              <path transform="translate(87,1141)" d="m0 0 2 1-2 7-2 2-3-2z" fill="#A17D36"/>
              <path transform="translate(266,69)" d="m0 0v3l-6 4-5 5-3-1z" fill="#AA8339"/>
              <path transform="translate(839,1764)" d="m0 0h4v3h-2v2l-5 1 1-4z" fill="#A68038"/>
              <path transform="translate(298,48)" d="m0 0 2 1 1 1-2 5-1-2-4 1-1-3z" fill="#A17D36"/>
              <path transform="translate(278,80)" d="m0 0h4l-1 3-10 2v-2z" fill="#9E7B36"/>
          </svg>
      </div>
  
      <h2 class="absolute w-[50%] translate-y-[-50%] translate-x-[-50%] left-[60%] top-[40%] text-white  transition-all duration-1000 ease-in-out cursor-pointer text-center leading-none tracking-tighter text-[100px] font-semibold">
          Gracias por visitar nuestro sitio
        </h2>
  
        <ul class="absolute translate-y-[-50%] translate-x-[-50%] left-[50%] top-[75%] w-full px-40 gap-x-8 items-center justify-between flex">
          <li class="cursor-pointe text-sm ">
            <a href="#intro">Inicio</a>
          </li>
          <li class="cursor-pointer text-sm ">
            <a href="#nosotros">Sobre Nosotros</a>
          </li>
          <li class="cursor-pointer text-sm ">
            <a href="#contacto">Contacto</a>
          </li>
          <li class="cursor-pointer text-sm ">
            <a href="#mision">Misión</a>
          </li>
          <li class="cursor-pointer text-sm ">
            <a href="#marcas">Nuestras marcas</a>
          </li>
          <li class="cursor-pointer text-sm ">
            <a href="#vision">Visión</a>
          </li>
          <li class="cursor-pointer text-sm ">
            <a href="#noticias">Noticias</a>
          </li>
        </ul>
      <div class="text-[11px] absolute translate-y-[-50%] translate-x-[-50%] left-[50%] top-[80%] mt-10 gap-10 grid place-content-center">
        <ul class="flex place-content-center gap-x-4">
          <li>TIKTOK</li>
          <li>INSTAGRAM</li>
          <li>FACEBOOK</li>
          <li>X</li>
          <li>PINTEREST</li>
          <li>YOUTUBE</li>
          <li>SPOTIFY</li>
        </ul>
      </div>
      <div class="text-[10px] absolute translate-y-[-50%] translate-x-[-50%] left-[50%] bottom-5">
        <ul class="flex gap-x-4">
          <li>CONFIGURACIÓN DE COOKIES</li>
          <li>POdivTICA DE PRIVACIDAD Y COOKIES</li>
          <li>CONDICIONES DE COMPRA</li>
        </ul>
      </div>
    </footer>


    <!-- <section class="flex items-center justify-center w-full h-dvh">
        <div class="flex gap-4">
            <img loading="lazy" class="w-[200px]" src="https://framerusercontent.com/images/ezXAxEXo9rzaI0hhHkp1oIcpFD0.png" alt="">
            <img loading="lazy" class="w-[200px]" src="https://framerusercontent.com/images/KEvhI0NCdrBeoFy2w6Zup0BHKoY.png?scale-down-to=512 " alt="">
            <img loading="lazy" class="w-[200px]" src="https://framerusercontent.com/images/ezXAxEXo9rzaI0hhHkp1oIcpFD0.png" alt="">
            <img loading="lazy" class="w-[200px]" src="https://framerusercontent.com/images/lZEuk6Yf4LUCJuzAKjbIEiTqwA4.png?scale-down-to=512" alt="">
        </div>
      </section> -->

    
  </main>
</Contact_Layout>

<style>
  body {
    font-family: "Cabin Variable", sans-serif;
  }
  .text_animation_h2 {
    white-space: nowrap;
    padding: 0.15em 0.5em;
    display: inline-block;
    transform: translateY(0%) scaleY(1.1);
  }

  .glassphromismo {
    background: rgba(255, 255, 255, 0.2);
    -webkit-backdrop-filter: blur(6px);
    backdrop-filter: blur(6px);
    border: 1px solid rgba(255, 255, 255, 0.1);
  }

  .glassphromismo:hover {
    background-color: white; 
    color: black;

  }
</style>
