---
// Global Styles
import "../styles/globals.css";
// Vercel
//import SpeedInsights from "@vercel/speed-insights/astro";
// SEO Component
import SEO_TAGS from "@/components/custom/SEO/SEO_TAGS.astro";
// Astro Animations
import { ViewTransitions } from "astro:transitions";
// Fonts

import "@fontsource-variable/cabin";
import '@fontsource/poppins';

interface Props {
  title_page: string;
  description_page: string;
  last_update: string;
  keywords_page: string[];
}

const { title_page, description_page, keywords_page, last_update } =
  Astro.props;
---

<!doctype html>
<html lang="es-MX" class="h-full antialiased scroll-smooth">
  <head>
    <SEO_TAGS
      title_page={title_page}
      description_page={description_page}
      last_update={last_update}
      keywords_page={keywords_page}
    />
  </head>
  <!-- Content -->
  <body class="body">
    <!-- SLOT -->
    <slot />
    <!-- SLOT -->
     <style is:global>

      html {
        overflow-x: hidden;
        color-scheme: light;
        font-family: 'Poppins', sans-serif;
      }

      img {
        content-visibility: auto;
        image-rendering: optimizeSpeed;
      }

      body {
        overflow: hidden;
        -ms-overflow-style: none; /* Hide scrollbar for IE and Edge */
      }

      /* Hide scrollbar for Chrome, Safari and Opera */
      body::-webkit-scrollbar {
        display: none;
      }
      
     </style>
    <script src="../library/preline.js"></script>
  </body>
</html>
